@charset "UTF-8";




@media screen and (min-width:1024px) {
    form {
        display: inline-block;
        width: 70%;
        height: 500px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
        
        
        
    
    div#tudo {
        display: inline-block;
        width: 50%;
        height: 500px;
        position: relative;
        
        border-radius: 0px 10px 10px 0px;
    }
    .entrar {
        width: 31vw;
       
    }
    .back {
        width: 31vw;
        margin: auto;
        margin-bottom: 5px;
    }

    #iemail, #isenha {
        width: 23vw;
       
    }
    
}