@charset "UTF-8";


form {
    display: inline-block;
    width: 30vw;
    height: 30vh;
    position: relative;
    margin: 12px 10px 10px 26px;
    
    
    
}
div#tudo {
    display: inline-block;
    width: 15vw;
    height: 30vh;
    position: absolute;
    margin: auto;
    border-radius: 10px 0px 0px 10px;

}
.entrar {
    width: 11vw;
   
}
.back {
    width: 11vw;
    margin: auto;
    margin-bottom: 1px;
}

#iemail, #isenha {
    width: 3vw;
   
}

