@charset "UTF-8";

@media screen and (min-width:350px) and (max-width:900px){

    form {
        display: inline-block;
        width: 60vw;
        height: 340px;
        position: absolute;
        margin-left: 100px;
        
        
        
    }
    div#tudo {
        display: inline-block;
        width: 30vw;
        height: 340px;
        position: relative;
        float: right;
        margin: auto;
        border-radius: 0px 10px 10px 0px;
        
    
    }
    .entrar {
        width: 28vw;
       
    }
    .back {
        width: 28vw;
        margin: auto;
        margin-bottom: 5px;
    }
    
    #iemail, #isenha {
        width: 14vw;
       
    }
    h1 {
        text-align: center;
        margin-top: 3px;
        font-size: 25px;
        
    }
    p{
        text-align: justify;
        margin: 2px 5px 3px 5px;
        font-size: 14px;
    }



}

@media screen and (min-width:1024px) {

form {
    display: inline-block;
    width: 67vw;
    height: 75vh;
    position: absolute;
    margin: 20px 100px 80px 120px;
    
    
    
}
div#tudo {
    display: inline-block;
    width: 33.5vw;
    height: 75vh;
    position: relative;
    float: right;
    margin: auto;
    border-radius: 0px 10px 10px 0px;

}
.entrar {
    width: 31vw;
   
}
.back {
    width: 31vw;
    margin: auto;
    margin-bottom: 5px;
}

#iemail, #isenha {
    width: 18vw;
   
}

}