@charset "UTF-8";

body {
    background-image:linear-gradient(to bottom, rgba(116, 0, 184, 0.781), rgba(0, 0, 255, 0.425) );
    background-attachment: fixed;
    margin-top: 30px;

}
form {
   width: 65vw;
   height: 95vh;
   background-color: white;
   margin: auto;
   background: url(..//predio.jpg) no-repeat;
   background-size: cover;
   border-radius: 10px;
   
   }
div#tudo {
    display: block;
    margin-top: 65vw;
    position: absolute;
    width: 65vw;
    height: 53vh;
    background-color: white;
    background-size: cover;
    border-radius: 0px 0px 10px 10px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    
}
p{
    text-align: justify;
    margin: 20px 35px 30px 25px;
}

#iemail, #isenha{
    display: inline;
    background-color: rgb(204, 204, 255);
    width: 40vw;
    border-radius: 5px;
   
    
}

.fundo {
    display: inline-block;
    text-align: justify;
    margin: 10px;
    padding: 0px 3px 0px 3px;
    
    
}
.back {
    background-color: blueviolet;
    border-radius: 5px;
    margin: 5px 10px 1px 10px;
    
}


.botoes {
    text-align: center;
    
}
.entrar {
    margin-top: 5px;
    width: 61vw;
}