@charset "UTF-8";

body {
    background-image:linear-gradient(to bottom, rgba(116, 0, 184, 0.781), rgba(0, 0, 255, 0.425) );
   background-attachment: fixed;
    margin-top: 50px;

}
form {
   display: block;
   width: 65%;
   height: 430px;
   background-color: white;
   margin: auto;
   background: url(..//predio2.jpg) no-repeat;
   background-size: cover;
   background-position: center bottom;
   display: block;
   border-radius: 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);   
   transition: height 0.5s, width 0.5s;
   transition-timing-function: ease;

   }
div#tudo {
    display: block;
    margin-top: 180px;
    position: absolute;
    width: 65%;
    height: 420px;
    background-color: white;
    background-size: cover;
    border-radius: 0px 0px 10px 10px;
    
}

#login {
    width: 4vw;
    
}
#senha {
    width: 4vw;
}

h1 {
    text-align: center;
    margin-top: 20px;
    
}
p{
    text-align: justify;
    margin: 20px 15px 30px 15px;
}

#iemail, #isenha{
    display: inline;
    background-color: rgb(204, 204, 255);
    width: 40vw;
    border-radius: 5px;
    
}
#iemail:hover {
    background-color: white;
}
#isenha:hover {
    background-color: white;
}

.fundo {
    display: inline-block;
    text-align: justify;
    margin: 10px;
    padding: 0px 3px 0px 3px;
    
    
}
.back {
    background-color: blueviolet;
    border-radius: 5px;
    margin: 5px 10px 1px 10px;
    
}
.back:focus-within {
    background-color: rgba(140, 1, 158, 0.842);
}


.entrar:hover {
    background-color: aquamarine;
}

.botoes {
    text-align: center;
    
}
.entrar {
    margin-top: 5px;
    width: 61vw;
}